{% load staticfiles %}
{% load blog_tags %}


<!--评论 comment.html-->
</div>

<!-- col-11 end-->


<div  class="col-5 columns" id="sidebar" role="complementary">


  <div class="widget widget_search">
    <h3>搜索</h3>
    <form action="{% url 'haystack_search' %}" id="searchform" method="get">
        <input type="search" id="searchkey" name="q" value="" class="searchkey" placeholder="Search..."/>
        <button type="submit"  id="searchsubmit">Go</button>
    </form>
  </div>

<!--
  <div class="widget">
        <h3 class="widget-title">最新评论</h3>
        <ul class="widget-list" id="recent-comment">


        <li id="comment" class="clearfix">
            <img class="avatar" src="picture/591e70d58dd0efbe1da3cb83f2f3c0c0.jpg" alt="%s" width="40" height="40">
            <div class="comments-link"><cite>影乐</cite>：<a href="/other/tinger.html#comment-2914">学长厉害了</a></div>
        </li>

        <li id="comment" class="clearfix">
            <img class="avatar" src="picture/d41d8cd98f00b204e9800998ecf8427e.jpg" alt="%s" width="40" height="40">
            <div class="comments-link"><cite>&lt;audio src=x onerror=alert(&#39;audio&#39;);&gt;</cite>：<a href="/PENETRATION/getshell-via-ssrf-and-redis.html#comment-2913">&lt;audio src=x onerror=alert(&#39;audio&#39;);&gt;^M煮屎者</a></div>
        </li>

        <li id="comment" class="clearfix">
            <img class="avatar" src="picture/2f2224c85fe48ba7ab31fb3100745d53.jpg" alt="%s" width="40" height="40">
            <div class="comments-link"><cite>墨攻</cite>：<a href="/PENETRATION/metinfo-5.3.17-sql-injection.html#comment-2912">最近在审计一个小的cms，看了半天竟然没发现漏洞，我开始怀职业了，不知大佬能否帮忙看一下...</a></div>
        </li>

        <li id="comment" class="clearfix">
            <img class="avatar" src="picture/d41d8cd98f00b204e9800998ecf8427e.jpg" alt="%s" width="40" height="40">
            <div class="comments-link"><cite>Kyrie</cite>：<a href="/PENETRATION/django-debug-page-xss.html#comment-2910">这里会不会造成类似jinjia2模板注入的问题，如果有的话是不是就从一个XS变成一个RCE了</a></div>
        </li>

        <li id="comment" class="clearfix">
            <img class="avatar" src="picture/c4267eb6d17276fa31c547ac71611e90.jpg" alt="%s" width="40" height="40">
            <div class="comments-link"><cite>phithon</cite>：<a href="/PENETRATION/django-debug-page-xss.html#comment-2911">@Kyrie 不会，因为不存在模板字符串拼接，而且Django的模板沙箱厉害。</a></div>
        </li>

    </ul>
  </div>

-->

<!--分类-->
        <div class="widget widget-category">
            <h3>分类</h3>
            {% get_categories as category_list %}
            <ul id="blogsort" class="widget-list">
                {% for category in  category_list %}
                <li>
                    <a href="{% url 'article:category' category.pk %}" >{{ category.name }}<em style="box-sizing:content-box;">{{ category.get_article_num}}</em></a>
                </li>
                {% empty %}
                暂无分类
                {% endfor %}
            </ul>
        </div>

<!--
  <div class="widget widget-recent-entries">
        <h3 class="widget-title">热门日志</h3>
        <ul id="hotlog" class="widget-list">


        <li><a href="/PHP/phpdelfile.html">php遍历目录&amp;删除指定文件中指定内容</a></li>

        <li><a href="/THINK/banjia.html">博客搬家成功</a></li>

        <li><a href="/PENETRATION/vps-pentest.html">对自己VPS的一次安全检测</a></li>

        <li><a href="/C/CGIforC_1.html">C语言CGI编程入门(一)</a></li>

        <li><a href="/C/gh0st_2.html">gh0st源码分析与远控的编写(二)</a></li>

    </ul>
  </div>

-->


        <div class="widget widget-recent-entries">
            <h3 class="widget-title">最新文章</h3>
            {% get_recent_articles as recent_article_list %}
            <ul id="hotlog" class="widget-list">
                {% for article in recent_article_list %}
                <li>
                    <a href="{{ article.get_absolute_url}}">{{ article.title }}</a>
                </li>
                {% empty %}
                暂无文章
                {% endfor %}
            </ul>
        </div>

</div>
</div>

<div id="footer">
        <!-- copyright -->
        <div class="container">
                <div class="row remove-bottom">
                        <div class="col-6 columns">
                        <h3>Little About</h3>
                        <p>
                           Ender451 科幻、技术爱好者  <br>
                           现居 北京 <br>
                           爱好：读书 游戏 <br>
                           欢迎各位来串门 <br>
                           E-mail：Ender451@qq.com
                        </p>
                        </div>

                        <div class="col-10 columns">

                                <h3 class="mobile-hide">Follow me</h3>
        <div id="social-links">
          <a href="http://weibo.com/" class="sweibo" target="_blank" title="新浪微博">新浪微博</a>
          <a href="javascript:alert(/没有腾讯微博哟/)" class="qweibo" target="_blank" title="腾讯微博">腾讯微博</a>
          <a href="javascript:alert(/墙外有什么/);window.open('http://google.com')" class="google" target="_blank" title="墙外的世界">google+</a>
          <a href="https://github.com/Ender451" class="github" target="_blank" title="Github">github</a>
          <a href="javascript:confirm(/mailto:Ender451@qq.com/)" class="mail" target="_blank" title="私信给我">私信给我</a>
          <a href="/feed/" target="_blank" class="rss" title=:"川陀图书馆">RSS订阅</a>
        </div>
        <div class="bot-line"></div>
                                <p class="copyright">
        Copyright &copy; Powered by talkbook
                                &nbsp;&nbsp;<i>Designed and built with all the love in the world by <a href="https://www.leavesongs.com" target="_blank">Phithon</a> && deepsky </i>
<!--
                    <a href="/template/change/">更换模板</a>
-->
                                </p>
                        </div>
                </div>
        </div>
        <!-- /copyright -->
</div>

