<!DOCTYPE html>
{% load staticfiles %}
<!-- 每个 include html文件中 都需要 标注 加载静态变量 “{% load staticfiles %}” -->
<html class="no-js">

{% include 'head.html' %}

<body>
{% include 'topline.html' %}


<div class="banner-bar">
    <div class="container">
        <div class="col-12 columns">
            <div class="place">
		{% block path %} {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

{% include 'noclear.html' %}


{% include 'bottomscrtpt.html' %}


</body>

</html>
