{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>

<!-- 每个 include html文件中 都需要 标注 加载静态变量 “{% load staticfiles %}” -->
<html class="no-js">

{% include 'head.html' %}

<body>
{% include 'topline.html' %}


<div class="banner-bar">
    <div class="container">
        <div class="col-12 columns">
            <div class="place">
		{% block path %} {% endblock %}
            </div>
        </div>
    </div>
</div>





<div class="container">
{% block content %}{% endblock %}


{% include 'simple_noclear.html' %}

</div>


{% include 'simple_bottomscrtpt.html' %}


</body>

</html>
